In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
engine = create_engine("postgresql://admin:admin@postgres:5432/videogamesdb")
engine.connect()

In [3]:
df = pd.read_csv('data/Video_Games.csv')
df.head()

,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['User_Score'] = pd.to_numeric(df['User_Score'], errors='coerce').fillna(0)
df['Critic_Score'] = df['Critic_Score'].fillna(0)
df['User_Count'] = df['User_Count'].fillna(0)
df['Critic_Count'] = df['Critic_Count'].fillna(0)
df = df.fillna('Unknown')
df.head()

,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0,Unknown,Unknown
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0,Unknown,Unknown

In [5]:
developers = pd.DataFrame({'developer_name': df['Developer'].unique()})
developers.to_sql('developer', engine, if_exists='append', index=False)

697

In [6]:
genres = pd.DataFrame({'genre_name': df['Genre'].unique()})
genres.to_sql('genre', engine, if_exists='append', index=False)

13

In [7]:
platforms = pd.DataFrame({'platform_name': df['Platform'].unique()})
platforms.to_sql('platform', engine, if_exists='append', index=False)

31

In [8]:
publishers = pd.DataFrame({'publisher_name': df['Publisher'].unique()})
publishers.to_sql('publisher', engine, if_exists='append', index=False)

581

In [9]:
dev_map = pd.read_sql("SELECT developer_id, developer_name FROM developer", engine)
genre_map = pd.read_sql("SELECT genre_id, genre_name FROM genre", engine)
platform_map = pd.read_sql("SELECT platform_id, platform_name FROM platform", engine)
publisher_map = pd.read_sql("SELECT publisher_id, publisher_name FROM publisher", engine)

In [10]:
df = df.merge(dev_map, left_on='Developer', right_on='developer_name', how='left')
df = df.merge(genre_map, left_on='Genre', right_on='genre_name', how='left')
df = df.merge(platform_map, left_on='Platform', right_on='platform_name', how='left')
df = df.merge(publisher_map, left_on='Publisher', right_on='publisher_name', how='left')

In [11]:
df = df.drop(columns=['developer_name', 'genre_name', 'platform_name', 'publisher_name'])

In [12]:
games = df[['Name','Year_of_Release','developer_id','genre_id','platform_id','publisher_id']].copy()
games.columns = ['name','year_of_release','developer_id','genre_id','platform_id','publisher_id']

games['year_of_release'] = pd.to_numeric(games['year_of_release'], errors='coerce')

games = games.dropna(subset=['year_of_release'])
games = games[(games['year_of_release'] >= 1970) & (games['year_of_release'] <= 2030)]

games['year_of_release'] = games['year_of_release'].astype(int)

games = games.dropna(subset=['developer_id','genre_id','platform_id','publisher_id'])

games[['developer_id','genre_id','platform_id','publisher_id']] = \
    games[['developer_id','genre_id','platform_id','publisher_id']].astype(int)

In [13]:
df = df.reset_index(drop=True)
games = games.reset_index(drop=True)

In [14]:
clean_df = df.loc[games.index].copy()

games.to_sql('game', engine, if_exists='append', index=False)

655

In [15]:
game_ids = pd.read_sql("SELECT game_id FROM game ORDER BY game_id", engine)
game_ids = game_ids.iloc[:len(games)].reset_index(drop=True)

In [16]:
sales = clean_df[['Global_Sales','NA_Sales','EU_Sales','JP_Sales','Other_Sales']].copy()
sales.columns = ['global_sales','na_sales','eu_sales','jp_sales','other_sales']

In [17]:
sales['game_id'] = game_ids['game_id']
sales = sales[['game_id','global_sales','na_sales','eu_sales','jp_sales','other_sales']]

In [18]:
sales.to_sql('sales', engine, if_exists='append', index=False)

655

In [19]:
reviews = clean_df[['Critic_Score','Critic_Count','User_Score','User_Count']].copy()
reviews.columns = ['critic_score','critic_count','user_score','user_count']

reviews['game_id'] = game_ids['game_id']
reviews = reviews[['game_id','critic_score','critic_count','user_score','user_count']]

reviews.to_sql('reviews', engine, if_exists='append', index=False)

655

In [20]:
print(pd.read_sql('SELECT COUNT(*) FROM game', engine))
print(pd.read_sql('SELECT COUNT(*) FROM reviews', engine))
print(pd.read_sql('SELECT COUNT(*) FROM sales', engine))

   count
0  16655
   count
0  16655
   count
0  16655