In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
engine = create_engine("postgresql://admin:admin@postgres:5432/videogamesdb")
engine.connect()

In [3]:
df = pd.read_csv('data/Video_Games.csv')
df.head()

,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['User_Score'] = pd.to_numeric(df['User_Score'], errors='coerce').fillna(0)
df['Critic_Score'] = df['Critic_Score'].fillna(0)
df['User_Count'] = df['User_Count'].fillna(0)
df['Critic_Count'] = df['Critic_Count'].fillna(0)
df = df.fillna('Unknown')
df.head()

,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0,Unknown,Unknown
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0,Unknown,Unknown

In [5]:
developers = pd.DataFrame({'developer_name': df['Developer'].unique()})
developers.to_sql('developer', engine, if_exists='append', index=False)

697

In [6]:
genres = pd.DataFrame({'genre_name': df['Genre'].unique()})
genres.to_sql('genre', engine, if_exists='append', index=False)

13

In [7]:
platforms = pd.DataFrame({'platform_name': df['Platform'].unique()})
platforms.to_sql('platform', engine, if_exists='append', index=False)

31

In [8]:
publishers = pd.DataFrame({'publisher_name': df['Publisher'].unique()})
publishers.to_sql('publisher', engine, if_exists='append', index=False)

581

In [9]:
dev_map = pd.read_sql("SELECT developer_id, developer_name FROM developer", engine)
genre_map = pd.read_sql("SELECT genre_id, genre_name FROM genre", engine)
platform_map = pd.read_sql("SELECT platform_id, platform_name FROM platform", engine)
publisher_map = pd.read_sql("SELECT publisher_id, publisher_name FROM publisher", engine)

In [10]:
df = df.merge(dev_map, left_on='Developer', right_on='developer_name', how='left')
df = df.merge(genre_map, left_on='Genre', right_on='genre_name', how='left')
df = df.merge(platform_map, left_on='Platform', right_on='platform_name', how='left')
df = df.merge(publisher_map, left_on='Publisher', right_on='publisher_name', how='left')

In [11]:
df = df.drop(columns=['developer_name', 'genre_name', 'platform_name', 'publisher_name'])

In [15]:
games = df[['Name','Year_of_Release','developer_id','genre_id','platform_id','publisher_id']].copy()
games.columns = ['name','year_of_release','developer_id','genre_id','platform_id','publisher_id']

games['year_of_release'] = pd.to_numeric(games['year_of_release'], errors='coerce')

games = games.dropna(subset=['year_of_release'])
games = games[(games['year_of_release'] >= 1970) & (games['year_of_release'] <= 2030)]

games['year_of_release'] = games['year_of_release'].astype(int)

games = games.dropna(subset=['developer_id','genre_id','platform_id','publisher_id'])

games[['developer_id','genre_id','platform_id','publisher_id']] = \
    games[['developer_id','genre_id','platform_id','publisher_id']].astype(int)

In [16]:
clean_df = df.loc[games.index].copy()

games.to_sql('game', engine, if_exists='append', index=False)

655

In [18]:
game_ids = pd.read_sql("SELECT game_id FROM game ORDER BY game_id", engine)

game_ids = game_ids.iloc[:len(games)].reset_index(drop=True)

In [19]:
sales = clean_df[['Global_Sales','NA_Sales','EU_Sales','JP_Sales','Other_Sales']].copy()
sales.columns = ['global_sales','na_sales','eu_sales','jp_sales','other_sales']

sales['game_id'] = game_ids['game_id']

sales = sales[['game_id','global_sales','na_sales','eu_sales','jp_sales','other_sales']]

sales.to_sql('sales', engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "game_id" of relation "sales" violates not-null constraint
DETAIL:  Failing row contains (16387, null, 0.00, 0.01, 0.00, 0.00, 0.01).

[SQL: INSERT INTO sales (game_id, global_sales, na_sales, eu_sales, jp_sales, other_sales) VALUES (%(game_id__0)s, %(global_sales__0)s, %(na_sales__0)s, %(eu_sales__0)s, %(jp_sales__0)s, %(other_sales__0)s), (%(game_id__1)s, %(global_sales__1)s, %(na_sales ... 78990 characters truncated ... (global_sales__654)s, %(na_sales__654)s, %(eu_sales__654)s, %(jp_sales__654)s, %(other_sales__654)s)]
[parameters: {'other_sales__0': 0.0, 'eu_sales__0': 0.0, 'jp_sales__0': 0.01, 'game_id__0': 16260.0, 'global_sales__0': 0.01, 'na_sales__0': 0.0, 'other_sales__1': 0.0, 'eu_sales__1': 0.0, 'jp_sales__1': 0.01, 'game_id__1': 16261.0, 'global_sales__1': 0.01, 'na_sales__1': 0.0, 'other_sales__2': 0.0, 'eu_sales__2': 0.0, 'jp_sales__2': 0.01, 'game_id__2': 16262.0, 'global_sales__2': 0.01, 'na_sales__2': 0.0, 'other_sales__3': 0.0, 'eu_sales__3': 0.0, 'jp_sales__3': 0.0, 'game_id__3': 16263.0, 'global_sales__3': 0.01, 'na_sales__3': 0.01, 'other_sales__4': 0.0, 'eu_sales__4': 0.0, 'jp_sales__4': 0.01, 'game_id__4': 16264.0, 'global_sales__4': 0.01, 'na_sales__4': 0.0, 'other_sales__5': 0.0, 'eu_sales__5': 0.0, 'jp_sales__5': 0.01, 'game_id__5': 16265.0, 'global_sales__5': 0.01, 'na_sales__5': 0.0, 'other_sales__6': 0.0, 'eu_sales__6': 0.01, 'jp_sales__6': 0.0, 'game_id__6': 16266.0, 'global_sales__6': 0.01, 'na_sales__6': 0.0, 'other_sales__7': 0.0, 'eu_sales__7': 0.0, 'jp_sales__7': 0.0, 'game_id__7': 16267.0, 'global_sales__7': 0.01, 'na_sales__7': 0.01, 'other_sales__8': 0.0, 'eu_sales__8': 0.0 ... 3830 parameters truncated ... 'global_sales__646': 0.6, 'na_sales__646': 0.43, 'other_sales__647': 0.05, 'eu_sales__647': 0.15, 'jp_sales__647': 0.0, 'game_id__647': None, 'global_sales__647': 0.6, 'na_sales__647': 0.4, 'other_sales__648': 0.08, 'eu_sales__648': 0.02, 'jp_sales__648': 0.0, 'game_id__648': None, 'global_sales__648': 0.6, 'na_sales__648': 0.5, 'other_sales__649': 0.02, 'eu_sales__649': 0.1, 'jp_sales__649': 0.09, 'game_id__649': None, 'global_sales__649': 0.6, 'na_sales__649': 0.4, 'other_sales__650': 0.11, 'eu_sales__650': 0.29, 'jp_sales__650': 0.0, 'game_id__650': None, 'global_sales__650': 0.6, 'na_sales__650': 0.2, 'other_sales__651': 0.08, 'eu_sales__651': 0.23, 'jp_sales__651': 0.0, 'game_id__651': None, 'global_sales__651': 0.6, 'na_sales__651': 0.3, 'other_sales__652': 0.03, 'eu_sales__652': 0.06, 'jp_sales__652': 0.42, 'game_id__652': None, 'global_sales__652': 0.6, 'na_sales__652': 0.09, 'other_sales__653': 0.02, 'eu_sales__653': 0.16, 'jp_sales__653': 0.0, 'game_id__653': None, 'global_sales__653': 0.6, 'na_sales__653': 0.42, 'other_sales__654': 0.0, 'eu_sales__654': 0.0, 'jp_sales__654': 0.6, 'game_id__654': None, 'global_sales__654': 0.6, 'na_sales__654': 0.0}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
reviews = clean_df[['Critic_Score','Critic_Count','User_Score','User_Count']].copy()
reviews.columns = ['critic_score','critic_count','user_score','user_count']
reviews.to_sql('reviews', engine, if_exists='append', index=False)

In [ ]:
print(pd.read_sql('SELECT COUNT(*) FROM game', engine))
print(pd.read_sql('SELECT COUNT(*) FROM reviews', engine))
print(pd.read_sql('SELECT COUNT(*) FROM sales', engine))

In [17]:
print(pd.read_sql('SELECT COUNT(*) FROM game', engine))

   count
0  16655